# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Installer logs
pip-log.txt

# local env files
.env.local
.env.*.local

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
package-lock.json

# python file
venv
*.log

mnist.pkl

# directory
chekdpoint/
loss_path/
dataset/mnist/
model_path/

# file
*.idx3-ubyte
*.idx1-ubyte
